<div class="footer">
  <div class="footer-inner">
     <%= Time.now.year %> &copy; Hash Farm by <a target="_blank" href="http://www.lamaisondubitcoin.fr">La Maison du Bitcoin</a>
  </div>
  <div class="footer-tools">
    <span class="go-top">
      <i class="fa fa-angle-up"></i>
    </span>
  </div>
</div>