<!-- BEGIN HEADER -->
<div class="header navbar navbar-fixed-top mega-menu">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="header-inner">
    <!-- BEGIN LOGO -->
    <%= link_to image_tag("logo.png", class:"img-responsive"), root_path, class:"navbar-brand" %>
    <!-- END LOGO -->
    <!-- BEGIN HORIZONTAL MENU -->
    <div class="hor-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="index.html">
            <i class="fa fa-btc"></i>
             Dashboard
          </a>
        </li>
        <li>
          <a href="index.html">
             FAQ
          </a>
        </li>
        <li>
          <a href="index.html">
             Test
          </a>
        </li>
        <li class="active">
          <a href="">
             Link
          </a>
        </li>
      </ul>
    </div>
    <!-- END HORIZONTAL MENU -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <% unless controller.action_name.eql?('promo') %>
      <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <%= image_tag "menu-toggler.png" %>
      </a>
    <% end %>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <% if current_user.present? %>
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <%= image_tag "empty.png", width:1, height:29 %>
            <i class="fa fa-user"></i>
            <span class="username">
               <%= current_user %>
            </span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="login.html">
                <i class="fa fa-th-list"></i> My orders
              </a>
            </li>
            <li>
              <a href="login.html">
                <i class="fa fa-key"></i> Sign out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    <% else %>
      <div class="hor-menu pull-right">
        <ul class="nav navbar-nav pull-right">
           <li>
            <a href="/users/sign_in">
              <i class="fa fa-user"></i>
               Sign-in
            </a>
          </li>
        </ul>
      </div>
    <% end %>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->