<!-- BEGIN PAGE -->
<div class="page-content-wrapper">
  <div class="page-content">
      <!-- BEGIN PAGE HEADER-->
      <div class="row">
        <div class="col-md-12">
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->   
          <h3 class="page-title">
            Dashboard
            <small>statistics and more</small>
          </h3>
          <ul class="page-breadcrumb breadcrumb">
            <li>
              <i class="icon-home"></i>
              <a href="#">Home</a> 
              <span class="icon-angle-right"></span>
            </li>
            <li><a href="#">Dashboard</a></li>
          </ul>
          <!-- END PAGE TITLE & BREADCRUMB--> 
        </div>
      </div>
      <!-- END PAGE HEADER-->
  </div>      
</div>
<!-- END PAGE -->