<div class="page-content-wrapper">
  <div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="promo-page">
      <!-- BEGIN PAGE CONTENT-->
      <div class="block-transparent">
        <div class="container">
          <div class="row margin-bottom-20">
            <div class="col-md-6 margin-bottom-20">
              <h2>Cloud Mining</h2>
              <p>
                Hash Farm is a hashing power marketplace. You can buy or sell mining capacity immediately, at a price
                set by market conditions. To sell your capacity, just set Hash Farm as your primary mining pool. To buy
                capacity, sign-up, deposit bitcoins, and place your order with your price and your target mining pool.
              </p>
              <p>
                There is no risk for the buyer or the seller. You buy hash power distributed on many rigs, so if there
                is a failure somewhere another rig will take the job immediately. If there is no order for your miner,
                then our pool will disconnect and you'll mine to your usual multipool.
              </p>
              <p>&nbsp;</p>
              <a href="index.html" class="btn red btn-lg m-icon-big">
                BUY hash power <i class="m-icon-big-swapright m-icon-white"></i>
              </a>
              &nbsp;
              <a href="index.html" class="btn blue btn-lg m-icon-big">
                SELL hash power <i class="m-icon-big-swapright m-icon-white"></i>
              </a>
            </div>
            <div class="col-md-6 margin-top-20 margin-bottom-20">
              <%= image_tag "mining-cloud.png", class:"img-responsive" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h3>
              <a href="#">
                 Secure
              </a>
              </h3>
              <p>
                 Pellentesque viverra vehicula sem ut volutpat dosum molor sit amet, consectetur adipiscing elit
              </p>
            </div>
            <div class="col-md-3">
              <h3>
              <a href="#">
                 Great
              </a>
              </h3>
              <p>
                 Lunt in lpa qui officia deserunt mollitia mo animi, asdid leoff iscia est labor le harum quidem rerum facilis
              </p>
            </div>
            <div class="col-md-3">
              <h3>
              <a href="#">
                 Beautiful
              </a>
              </h3>
              <p>
                 Volutpat dosum esque viverra ved et quam lacusehicula sem ut molorviverra sit amet, consetetur edipiscin la
              </p>
            </div>
            <div class="col-md-3">
              <h3>
              <a href="#">
                 Nice
              </a>
              </h3>
              <p>
                 Deleniti atque corrupa vehicula sem ut volutpat dosum molor sit amet, consectetur adipiscing praesentium
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- END PAGE CONTENT-->
    </div>
    <!-- BEGIN PAGE CONTAINER-->
  </div>
</div>